{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <a href="{{ path('account') }}">
                <button class="btn btn-outline-info">Mon compte</button>
            </a>
        </div>
        <div class="row justify-content-center mt-5">
            <a href="{{ path('admin-index') }}">
                <button class="btn btn-outline-info">Admin</button>
            </a>
        </div>
    </div>

{% endblock %}