{% extends 'base.html.twig' %}

{% block title %}Banque Couteleau{% endblock %}

{% block body %}
<div style="height: 100vh;">
    <div class="border d-flex align-items-center justify-content-center h-100">
        <h1 style="color:#1a2647;">Banque Couteleau</h1>
    </div>
</div>
{% endblock %}
