{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <a href="{{ path('app_login') }}">
                <button class="btn btn-outline-info">Se connecter</button>
            </a>
        </div>
    </div>

{% endblock %}